<h1>Listing dogs</h1>

<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </p>
  <p>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Breed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td>
          <%= dog.name %>
        </td>
        <td>
          <%= dog.sex %>
        </td>
        <td>
          <%= dog.breed %>
        </td>
        <td>
          <%= link_to 'Show', dog %>
        </td>
        <td>
          <%= link_to 'Edit', edit_dog_path(dog) %>
        </td>
        <td>
          <%= link_to 'Destroy', dog, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Dog', new_dog_path %>
