
<h3>Subject: <%= @conversation.subject %></h3>
<p>Conversation between: <%= @conversation.participants.map(&:name).to_sentence %></p>
<%= link_to "Delete conversation", {:controller => "conversations", :action => 
    "trash", :id => @conversation.id}, :title=> "Delete", :method=>'post',  data: {confirm: "Are you sure you want to delete this conversation? Once it's gone, it's gone!"} %>
<%= link_to "Back to my messages", conversations_path %>
<p><%= render @conversation.messages %></p>


<p>Reply to this conversation:</p>
<%= form_tag reply_conversation_path(@conversation) do %>
<%= text_area_tag :body %>
<%= submit_tag 'Send message'%>
<%= submit_tag 'Clear reply box', type: :reset%>

<% end %>

