<div class="row">
  <div class="large-12 columns">
    <section id="map-canvas"></section>
  </div>
</div>
<!-- ALL BELOW TO BE DELETED FROM FINAL APP -->
<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Nickname</th>
      <th>Name</th>
      <th>Sex</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
      <th>Postcode</th>
      <th>Home Lat</th>
      <th>Home Lng</th>
      <th>Description</th>
      <th>Login Provider</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to image_tag(user.image.thumb.url, alt: "user image"), user %>
        </td>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.nickname %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.gender %>
        </td>
        <td>
          <%= user.first_name %>
        </td>
        <td>
          <%= user.last_name %>
        </td>
        <td>
          <%= user.location %>
        </td>
        <td>
          <%= user.postcode %>
        </td>
        <td>
          <%= user.home_lat %>
        </td>
        <td>
          <%= user.home_long %>
        </td>
        <td>
          <%= user.description %>
        </td>
        <td>
          <%= user.provider %>
        </td>
        <td>
          <%= user.role %>
        </td>
        <td>
          <%= link_to 'Show', user_path(user.id) %>
        </td>
        <td>
          <%= link_to 'Message me!', new_user_conversation_path(user.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>My latest messages</h2>
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Received at</th>
      <th>Sent by</th>
    </tr>
  </thead>
  <tbody></tbody>
  <% current_user.mailbox.conversations.each do |conversation| %>
    <tr>
      <td>
        <%= link_to conversation.subject, conversation_path(conversation) %>
      </td>
      <td>
        <%= conversation.updated_at.strftime("%I:%M %p %m/%e/%Y") %>
      </td>
      <td>
        <%= conversation.messages.last.sender.name %>
      </td>
    </tr>
  <% end %>
</table>
<!-- DELETE UP TO HERE -->
