%section#map-canvas

%h1 Listing Users

%table
  %thead
    %tr
      %th
      %th ID
      %th Nickname
      %th Name
      %th Sex
      %th First Name
      %th Last Name
      %th Location
      %th Postcode
      %th Home Lat
      %th Home Lng
      %th Description
      %th Login Provider
      %th Role
      
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to image_tag(user.image, alt: "user image"), user
        %td= user.id
        %td= user.nickname
        %td= user.name
        %td= user.gender
        %td= user.first_name
        %td= user.last_name
        %td= user.location
        %td= user.postcode
        %td= user.home_lat
        %td= user.home_long
        %td= user.description
        %td= user.provider
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Message me!', new_user_conversation_path(user.id)

%h2 My latest messages
%table
  %thead
    %tr
      %th Topic
      %th Received at
      %th Sent by

  %tbody
  -current_user.mailbox.conversations.each do |conversation|
    %tr
      %td= link_to conversation.subject, conversation_path(conversation)
      %td= conversation.updated_at.strftime("%I:%M %p %m/%e/%Y")
      %td= conversation.messages.last.sender.name


