<div class="row">
  <div class="large-12 columns">

  <% if current_user.mailbox.inbox({:read => false}).count == 1 %>
  <div class ='blink'>
  <%= link_to '1 new message!', conversations_path   %>
  </div> 
  <% elsif current_user.mailbox.inbox({:read => false}).count > 1 %>
  <div class ='blink'>
  <%= link_to "#{current_user.mailbox.inbox({:read => false}).count.to_s} new messages!", conversations_path %>
  </div> 
  <% else %>

  <% end %>
  <br>
  </div>
</div>  

<div class="row">
  <div class="large-12 columns">
    <section id="map-canvas"></section>
  </div>
</div>
<div class="row">
 <div class="large-12 columns">
<h2>My messages</h2>
</div>
</div>
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Received at</th>
      <th>Sent by</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.mailbox.conversations.each do |conversation| %>
    <tr>
      <td>
        <%= link_to conversation.subject, conversation_path(conversation) %>
      </td>
      <td>
        <%= conversation.updated_at.strftime("%I:%M %p %m/%e/%Y") %>
      </td>
      <td>
        <%= conversation.messages.last.sender.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="row">
<h3>Most popular dogs:</h3>
  <div class="large-12 columns">
    <ul class="small-block-grid-6">
      <ul class="small-block-grid-6">
        <% Dog.sort_by_likes.first(6).each do |dog| %>
        <li>
          <%= link_to image_tag(dog.picture.thumb.url, alt: "image"), dog_path(dog) %>
         <br>
         <h4><%= dog.name %></h4>
        </li>
        <% end %>
      </div>
    </div>
  </div>
</div>


