<div class="row">
  <div class="large-12 columns">
    <% if current_user.mailbox.inbox({:read => false}).count == 1 %>
    <div class ='blink'>
      <%= link_to '1 new message!', conversations_path   %>
    </div> 
    <% elsif current_user.mailbox.inbox({:read => false}).count > 1 %>
    <div class ='blink'>
      <%= link_to "#{current_user.mailbox.inbox({:read => false}).count.to_s} new messages!", conversations_path %>
    </div> 
    <% else %>
    <% end %>
    <br>
  </div>
</div>  

<div class="row">
  <div class="large-12 columns">
    <section id="map-canvas"></section>
  </div>
</div>

<div class="panel">
  <div class="row">
   <div class="large-12 columns">
    <h2>My messages</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3>Topic</h3>
  </div>
  <div class="large-4 columns">
    <h4>Received at</h4>
  </div>
  <div class="large-4 columns">
    <h4>Sent by</h4>
  </div>
</div>

<% current_user.mailbox.conversations.first(5).each do |conversation| %>
<div class="row">
 <div class="large-4 columns">
  <p> <%= link_to conversation.subject, conversation_path(conversation) %></p>
</div>
<div class="large-4 columns">
  <%= conversation.updated_at.strftime("%I:%M %p %m/%e/%Y") %>
</div>
<div class="large-4 columns">
  <%= conversation.messages.last.sender.name %>
</div>   
</div> 
<% end %>  
</div> 

<div class="panel">
  <div class="row">
    <div class="large-12 columns">
      <h3>Most popular dogs:</h3>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-6">
        <ul class="small-block-grid-6">
          <% Dog.sort_by_likes.first(6).each do |dog| %>
          <li>
            <%= link_to image_tag(dog.picture.thumb.url, alt: "image"), dog_path(dog) %>
            <br>
            <h4><%= dog.name %></h4>
          </li>
          <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>





