<div class="large-3 columns">
  <div class="row">
    <div class="large-12 columns">
      <%= image_tag(@user.image.detail.url, width: "80em", alt: "User image") %>
    </div> 
  </div> 
  <div class="row">
    <div class="large-12 columns">
      <section id="map-user"></section>
    </div>  
    <div id="user_home_lat" class="display_none"><%= @user.home_lat %></div>
    <div id="user_home_long" class="display_none"><%= @user.home_long %></div>
  </div> 
  <div class="row">
    <div class="large-12 columns">
      <% if can? :edit, User %>
      <%= link_to 'Edit', edit_profile_path, class: "button tiny" %>
      <% end %>
      <%= link_to 'Back', users_path, class: "button tiny" %>
      <%= link_to 'Message me!', new_user_conversation_path(@user.id), class: "button tiny alert" %>
    </div>
  </div> 
</div>
<div class="large-9 columns">
  <div class="row">
    <div class="large-12 columns">
      <h2><%= @user.nickname %> Profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= @user.description %>
    </div>
  </div>
  <div class="row">
   <br>
  </div>
  <% @user.dogs.each do |dog| %>
  <div class="row">
    <div class="large-12 columns">
     <%= link_to image_tag(dog.picture.thumb.url, width: "80em", alt: "dog image"), dog %> <h3> <%= dog.name %></h3>
      <br>
    </div> 
  </div> 
  <% end %>
</div>
