%table
  %tr
    %td= image_tag(@user.image, size: "80 x 80", alt: "User image")
  %tr  
    %td Nickname
    %td= @user.nickname
  %tr
    %td Description
    %td= @user.description
  - @user.dogs.each do |dog|
    %tr
      %td= link_to image_tag(dog.picture, alt: "dog image"), dog
      %td Dog name
      %td= dog.name

- if can? :edit, User
  = link_to 'Edit', edit_profile_path
\|
= link_to 'Back', users_path

= link_to 'Message me!', new_user_conversation_path(@user.id)
