<div class="row">
  <div class="large-3 columns">
    <%= image_tag(@user.image.detail.url, width: "80em", alt: "User image") %>
  </div>  
  <div class="large-9 columns">
    <div class="row">
      <div class="large-9 columns">
        <h2><%= @user.nickname %> Profile</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-9 columns">
        <%= @user.description %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <br>
</div>
<div class="row">
  <div class="large-3 columns">
    map
  </div>  
  <div class="large-9 columns">
    <% @user.dogs.each do |dog| %>
    <div class="row">
      <div class="large-9 columns">
        <%= link_to image_tag(dog.picture, width: "80em", alt: "dog image"), dog %> <br>
        Dog name: <%= dog.name %>
        <br>
      </div> 
    </div> 
    <% end %>
  </div>  
</div>
<div class="row">
  <% if can? :edit, User %>
  <%= link_to 'Edit', edit_profile_path %>
  <% end %>
  \|
  <%= link_to 'Back', users_path %>
  <%= link_to 'Message me!', new_user_conversation_path(@user.id) %>
</div> 