<!-- CAN DELETE THE HEADER PARTIAL -->

<div class="top-bar_menu">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="http://www.date-my-dog.co.uk" class="logo">Date my Dog</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to 'Home', users_path  %></li>
        <li class="search_menu"><a href="#">Search for dogs</a></li>
        <li class="messages_menu"><%= link_to "My messages", conversations_path  %></li>
        <li><a href="#">My favorites</a></li>
        <li><a href="#">Help - FAQ</a></li>
        <li><a href="#">About</a></li>
        <li class="has-dropdown">
          <% if current_user %>
          <a href="#" class="email_log"><%= current_user.email %></a>
          <ul class="dropdown">
            <li><%= link_to "Edit Profile", edit_profile_path %>
              </li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
          <% else %>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  