<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>DogDating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5jf2iWZxxtbaTE3UMhax9Ik0C2jXkgQg">
      </script>
  <script src="main.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
   <%= render partial: "/layouts/header" %>
  </div>
  <div class="row"> 
   <div class="large-12 columns">
     <%= yield %>
     </div>
     </div>
     <div class="row">
      <%= render partial: "/layouts/footer" %>
     </div>
     <script type="text/javascript">
       WebFontConfig = {
         google: { families: [ 'Courgette::latin',  'Lato::latin' ] }
       };
       (function() {
         var wf = document.createElement('script');
         wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
           '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
         wf.type = 'text/javascript';
         wf.async = 'true';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(wf, s);
       })(); </script>
</body>
</html>
